body {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color:rgb(245, 222, 179)
}

p {
  text-align:center;
  font-size:100%
}

h3 {
  text-align:center;
}

h1 {
  text-align:center;
  text-shadow: 3px 2px rgba(87, 70, 16, 0.788);
}

<!-- The css text property I investigated was the text-shadoe in h1 -->