body {
          background-color: rgb(245,245,220);  
        }
        h1 {
            color: rgba(104, 71, 34, 0.329);
        }
        #recipe-color {
            color: rgb(158, 141, 106);
        }
        .recipe-color2 {
            color: rgb(158, 141, 106);
        }
        table, th, td {
  border: 1px solid black;
}